.fila-container-cards {
  margin-top: 5rem;
  margin-bottom: 18rem;
  position: relative;
}

.fila-cards-container {
  margin-bottom: 1.5rem;
  background-color: var(--tertiary-color);
  border-radius: 2rem;
  padding: 1rem;
}

.fila-cards {
  padding: 0 1.5rem 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.fila-header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.fila-header p {
  display: flex;
  align-items: center;
  gap: .3rem;
  font-size: 1.2rem;
  color: var(--gray-color);  
}


.fila-header button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: var(--gray-color);
}

.fila-header-menu {
  position: absolute;
  right: 0.7rem;
  top: 2rem;
  background-color: var(--gray-color);
  width: 10rem;
  border-radius: .5rem .5rem .5rem .5rem;
  transform-origin: top;
  transform: scaley(0);
  transition: transform ease .2s;
  pointer-events: none;
  overflow: hidden;
}

.fila-header-menu li:not(:last-child) {
  border-bottom: solid 1px var(--tertiary-color);
}

.fila-header-menu li button{
  font-size: 1.5rem;
  color: var(--secondary-color);
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: .5rem 0;
  cursor: pointer;
  transition: all ease .2s;
}

.fila-header-menu li button:hover {
  background-color: color-mix(in srgb, var(--gray-color) 70%, black 30%);
}

.fila-header-menu.active {
  transform: scaley(1);
  display: block;
  pointer-events: all;
}

.fila-container-informations {
  display: flex;
  gap: 2rem;
}

.fila-position {
  display: flex;
  align-items: center;
}

.fila-position h2 {
  background-color: var(--secondary-color);
  border-radius: 100%;
  color: var(--neutral-color);
  font-size: 2.5rem;
  padding: 1.3rem;
  border: solid 1px var(--neutral-color);
}

.fila-informations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  gap: 1rem;
}

.fila-informations h3 {
  color: var(--neutral-color);
  font-size: 2rem;
}

.fila-informations p {
  color: var(--pink-color);
  font-size: 1.2rem;
  font-weight: bold;
}

.fila-informations p {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.fila-edit-container {
  overflow: hidden;
  width: 0%;
  height: 0%;
}


.fila-edit-container.active{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 160rem;
  top: 0.1rem;
}

.fila-edit {
  height: 20%;
  width: 90%;
  border-radius: 2rem;
  box-shadow: .1rem .5rem 1rem black;
  background-color: var(--primary-color);
  margin-top: 1rem;
  padding: 2rem;
  box-sizing: border-box;
}

.fila-edit-inputs-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  
}

.fila-edit-input-container {

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.fila-edit-input-container label {
  font-size: 2rem;
  font-weight: bold;
  color: var(--secondary-color);
}

.fila-edit-input-container input {
 font-size: 2rem;
 padding: 1rem;
 border-radius: 1rem;
}

.edit-input-accents {
  text-align: center;
}

.fila-edit-saveBtn {
  padding: 1.5rem 1rem;
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
}

.fila-edit-saveBtn.save {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.fila-edit-saveBtn.cancel {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.edit-buttons-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}